stages:
  - build
  - deploy

build:
  image: docker:19.03.12
  stage: build
  tags:
    - shared
  services:
    - name: docker:19.03.12-dind
      command: [ "--insecure-registry=gitlab.thoxvi.com:4567" ]
  variables:
    DOCKER_TLS_CERTDIR: ''
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD http://gitlab.thoxvi.com:4567
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME -t $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
    - docker push $CI_REGISTRY_IMAGE:latest
    - docker logout $CI_REGISTRY

deploy:
  stage: deploy
  image:
    name: dtzar/helm-kubectl:3.6.0
    entrypoint: [ "" ]
  environment:
    name: production
  tags:
    - shared
  script:
    - kubectl version
    - helm version
    - helm repo add bitnami https://charts.bitnami.com/bitnami
    - set +e
    - |
      helm install \
        --create-namespace \
        -n $KUBE_NAMESPACE \
        mongo bitnami/mongodb \
        --set architecture=replicaset \
        --set persistence.size=5Gi \
        --set global.storageClass=local-path \
        --set global.namespaceOverride=$KUBE_NAMESPACE | true
    - set -e
    - cd .k8s
    - sed -i 's/$ANOBBS_HASH_IMAGE_TAG/'"$CI_COMMIT_SHORT_SHA"'/' anobbs-deployment.yml
    - cat anobbs-deployment.yml
    - kubectl apply -f anobbs-deployment.yml -n $KUBE_NAMESPACE
