build:
  image: docker:19.03.12
  stage: build
  tags:
    - shared
  services:
    - name: docker:19.03.12-dind
      command: ["--insecure-registry", "http://gitlab.thoxvi.com:4567"]

  script:
    - FULL_TAG=http://$CI_REGISTRY_IMAGE:latest
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $FULL_TAG .
    - docker push $FULL_TAG
    - docker logout $CI_REGISTRY

deploy_staging:
  stage: deploy
  tags:
    - shared
  script:
    - echo "Deploy to staging server"
  environment:
    name: staging
    url: http://k8s.thoxvi.com
