stages:
  - build
  - deploy

build:
  image: docker:19.03.12
  stage: build
  tags:
    - shared
  services:
    - name: docker:19.03.12-dind
      command: [ "--insecure-registry=gitlab.thoxvi.com:4567" ]
  variables:
    DOCKER_TLS_CERTDIR: ''
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD http://gitlab.thoxvi.com:4567
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME -t $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
    - docker push $CI_REGISTRY_IMAGE:latest
    - docker logout $CI_REGISTRY

deploy:
  stage: deploy
  image:
    name: dtzar/helm-kubectl:3.6.0
    entrypoint: [ "" ]
  environment:
    name: production
  tags:
    - shared
  script:
    - kubectl version
    - helm version
    - helm repo add bitnami https://charts.bitnami.com/bitnami
    - set +e
    - |
      kubectl create -n anobbs-153-anobbs-a6x7e4 secret docker-registry regcred \
        --docker-server=gitlab.thoxvi.com:4567 \
        --docker-username=project_${CI_PROJECT_ID}_bot \
        --docker-password=${PROJECT_READ_REGISTRY_TOKEN} \
        --docker-email=Thoxvi@Gmail.com | true
    - |
      helm install \
        --create-namespace \
        -n ${KUBE_NAMESPACE} \
        mongo bitnami/mongodb \
        --set persistence.existingClaim=local-pvc-mongo \
        --set global.namespaceOverride=${KUBE_NAMESPACE} | true
    - set -e
    - cd .k8s
    - sed -i 's/$ANOBBS_HASH_IMAGE_TAG/'"$CI_COMMIT_SHORT_SHA"'/' anobbs-deployment.yml
    - cat anobbs-deployment.yml
    - kubectl apply -f local-pvc-mongo.yml -n ${KUBE_NAMESPACE}
    - kubectl apply -f anobbs-deployment.yml -n ${KUBE_NAMESPACE}
