build:
  image: docker:19.03.12
  stage: build
  tags:
    - shared
  services:
    - name: docker:19.03.12-dind
      command: ["--insecure-registry=gitlab.thoxvi.com:4567"]
  variables:
    DOCKER_TLS_CERTDIR: ''
  script:
    - FULL_TAG=$CI_REGISTRY_IMAGE:latest
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD http://gitlab.thoxvi.com:4567
    - docker build -t $FULL_TAG .
    - docker push $FULL_TAG
    - docker logout $CI_REGISTRY

deploy:
  image: bitnami/kubectl:1.21.2
  stage: deploy
  tags:
    - shared
  environment:
    name: production
  script:
    - version
    - get node
